:root {
  --green: #0edc6a;
  --green-dark: #0cc05d;
  --green-light: #0feb72;

  --orange: #ff6638;
  --orange-dark: #ff4f1a;
  --orange-light: #ff8661;

  --purple: #7b59ea;
  --purple-dark: #592ee5;
  --purple-light: #9880ef;

  --woot: #1f93ff;
  --woot-dark: #007ef5;
  --woot-light: #61b3ff;

  --yellow: #ffc726;
  --yellow-dark: #ffbc05;
  --yellow-light: #ffd35c;

  --black: #0f1c2b;
  --steel: #27374e;
  --slate: #51637b;
  --silver: #8897aa;

  --smoke: #bfcbd9;
  --smoke-light: #E0E6ED;
  --smoke-dark: #ced8e3;

  --snow-light: #F9FAFC;
  --snow: #EFF2F7;
  --snow-dark: #E5E9F2;
}

// $color-gray: #6e6f73;
// $color-light-gray: #999a9b;
// $color-border: #e0e6ed;
// $color-border-light: #f0f4f5;
// $color-background: #f4f6fb;
// $color-border-dark: #cad0d4;
// $color-background-light: #f9fafc;
// $color-white: #fff;
// $color-body: #3c4858;
// $color-heading: #1f2d3d;
// $color-extra-light-blue: #f5f7f9;

// $primary-color: $color-woot;
// $secondary-color: #35c5ff;
// $success-color: #44ce4b;
// $warning-color: #ffc532;
// $alert-color: #ff382d;
